electron-app/node_modules/
ui/node_modules/
ui/dist/




# Compiled output
ui/dist
ui/tmp
ui/out-tsc
ui/bazel-out

# Node
ui/node_modules
ui/npm-debug.log
ui/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
ui/.angular/cache
.sass-cache/
ui/connect.lock
ui/coverage
ui/libpeerconnection.log
testem.log
ui/typings

# System files
.DS_Store
Thumbs.db
