<div class="flex  w-full shadow-md rounded-lg gap-2 p-3 flex-col md:w-72 cursor-pointer bg-background hover:bg-card ">

  <span class="text-xs text-muted-foreground">#1</span>

  <hr class="border-dashed border-border">

  <div class="flex  flex-row items-center justify-between  ">
    <span class="text-lg text-foreground">Flujo de Compra</span>

  </div>
  <span class="text-xs text-muted-foreground">Flujo de prueba demostrando un proceso de compra, es el por defecto
    corriendo en el chatbot</span>

  <hr class="border-dashed border-border">

  <div class="flex gap-2 justify-center items-center md:justify-start md:items-start">
    <div
      class="
      focus-visible:ring-ring inline-flex h-8 items-center justify-start
      whitespace-nowrap rounded-md border border-primary bg-background px-3
      text-xs font-medium text-primary shadow-sm transition-colors focus-visible:outline-none
      focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
      Whatsapp


    </div>

    <div
      class="
      focus-visible:ring-ring inline-flex h-8 items-center justify-start
      whitespace-nowrap rounded-md border border-border bg-background px-3
      text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none
      focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
      Instagram


    </div>
    <div
      class="
      focus-visible:ring-ring inline-flex h-8 items-center justify-start
      whitespace-nowrap rounded-md border border-border bg-background px-3
      text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none
      focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
      Facebook


    </div>





  </div>





</div>
