<div class="w-full flex flex-col" [class.active]="isToggle">
  <div class="flex items-start hover:bg-card" (click)="updateToggle()">
    <span>{{searchInput}}</span>
    <!-- <i class="uil uil-angle-down"></i> -->
    <i class="fa-solid fa-chevron-down fa-2xs"></i>
  </div>

  <ng-container *ngIf="isToggle">
    <div class="content">
      <div class="search">
        <i class="uil uil-search"></i>
        <input  spellcheck="false" type="text" placeholder="Search"
          (input)="searchTerm($event)" [(ngModel)]="searchText">
      </div>
      <app-listview [items]="data.countries" [isHidden]="true" [onSelectItem]="onSelectItem" [filterListener]="searchTerm$">
      </app-listview>
    </div>


  </ng-container>


</div>
