<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Detalles de Flujo</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a [routerLink]="'../list'" class="hover:text-primary">Flow</a>
      <span> - item</span>
    </div>
  </div>


  <div class="inline-block space-x-4">

    <button
    class="flex-none rounded-md bg-red-600  px-4 py-2.5  text-xs font-medium text-gray-100 hover:text-white">
    Eliminar
  </button>
    <button
      class="flex-none rounded-md bg-primary  px-4 py-2.5  text-xs font-medium text-gray-100 hover:text-white">
      Guardar Cambios
    </button>
  </div>

</div>
